body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.book {
  background-color: red !important;
}

.photo {
  background-color: blue !important;
}

.video {
  background-color: green !important;
}

.music {
  background-color: yellow !important;
}

.articles-div {
  margin: 20px;
}

.actions .icon {
  cursor: pointer;
  width: 150px !important;
  padding-bottom: 20px !important;
}

.actions .icon.trash {
  background-color: #ffafaf;
}

.actions .icon.euro {
  background-color: #7db17d;
}

.filter-div {
  margin: 20px 0;
}